/* Image Round */

.image-round {
  border-radius: _size(border-radius);
  border: 0;
  display: inline-block;
  position: relative;
  margin-bottom: 3em;

  img {
    border-radius: 50%;
    margin: 0 auto; 
    width: 100%;
    max-width: 290px;
    display: block;
  }

  @include orientation(landscape) {
    margin-left: 2em;
    img {
      max-width: 370px;
    }
  }
}
